//whole page
html, body, #root, #root>div {
    height: 100%
}

//Login.js

.ContainerStyle {
    @media(min-width: 768px){
        
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
}

.ColumnStyle{

    @media(min-width: 768px){

        background-image:
            
        linear-gradient(to right, rgba(255,0,0,0) 98%, #fff 99%),
        url("/public/black-brick-wall-background.jpg");
        background-repeat: no-repeat;
        color: white;
        
    }
}

.RowStyle{
    @media(max-width: 767.98px){
        display: flex;
        flex-direction: column;   
    }
}

.LoginStyle{

    text-align: center;

    @media(min-width: 768px){
      margin-top: 8rem;
    }
}

.DividerStyle {

    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 3rem 0 2rem; 

    span { 
        background:#fff; 
        padding:0 10px; 
    }
}

.HomeImage{
    width: 10rem !important;

    @media(min-width: 768px){
        width: 20rem !important;
    }
}